# Imports

In [1]:
import pandas as pd
import plotly.express as px

# Pullup data analysis

In [2]:
text = open("./data/pullup_05_10_2025.txt", 'r')

In [3]:
content_list = text.readlines()
content_list

['17.04.2023: 4 4 4 4 3\n',
 '20.04.2023: 5 4 4 4 3\n',
 '24.04.2023: 2 3 3 4 3\n',
 '26.04.2023: 4 4 5 4 4\n',
 '1.05.2023: 5 4 3 4 4\n',
 '4.05.2023: 6 6 6 5 5\n',
 '10.05.2023: 6 5 5 4 5\n',
 '16.05.2023: 6 6 6 5 3\n',
 '25.05.2023: 7 6 5 4 4\n',
 '31.05.2023: 7 4 4 4 4\n',
 '1.07.2023: 6 5 5 4 3\n',
 '5.07.2023: 6 5 5 5 4\n',
 '9.07.2023: 6 5 5 4 4\n',
 '12.07.2023: 6 5 4 4 3\n',
 '15.07.2023: 3 4 4 2 2\n',
 '18.07.2023: 6 5 4 4 4\n',
 '21.07.2023: 6 6 5 4 3\n',
 '26.07.2023: 7 6 5 4 0\n',
 '29.07.2023: 6 6 5 4 3\n',
 '2.08.2023: 7 6 5 4 4\n',
 '7.08.2023: 6 6 5 4 0\n',
 '11.08.2023: 7 6 5 4 4\n',
 '15.08.2023: 7 5 5 4 4\n',
 '19.08.2023: 8 6 6 4 4\n',
 '23.08.2023: 8 6 5 5 4\n',
 '27.08.2023: 7 6 5 4 4\n',
 '6.09.2023: 7 5 4 4 4\n',
 '10.09.2023: 10 6 5 5 0\n',
 '14.09.2023: 9 6 5 0 0\n',
 '17.09.2023: 7 6 5 5 5\n',
 '27.09.2023: 9 7 5 0 0\n',
 '10.10.2023: 8 6 5 5 4\n',
 '15.10.2023: 7 7 5 4 4\n',
 '23.10.2023: 8 7 5 5 4\n',
 '30.10.2023: 10 7 6 5 0\n',
 '6.11.2023: 9 7 5 5 0\n',
 '15.11.2023: 10 8 6 5 4\n',
 '28.11.2023: 8 8 7 5 4\n',
 '4.12.2023: 10 7 6 6 5\n',
 '19.12.2023: 9 6 6 5 5\n',
 '28.12.2023: 11 9 6 5 6\n',
 '8.01.2024: 10 7 6 5 5\n',
 '15.01.2024: 11 7 5 5 4\n',
 '21.01.2024: 10 9 6 6 5\n',
 '26.01.2024: 11 8 6 6 4\n',
 '29.01.2024: 11 9 6 5 4\n',
 '5.02.2024: 10 7 6 5 5\n',
 '20.02.2024: 12 10 7 6 5\n',
 '24.02.2024: 10 8 7 6 5\n',
 '17.03.2024: 10 6 5 5 4\n',
 '26.03.2024: 10 7 6 6 3\n',
 '2.04.2024: 10 6 5 3 3\n',
 '8.04.2024: 10 8 8 4 4\n',
 '10.04.2024: 8 7 7 5 4\n',
 '17.04.2024: 10 8 6 5 4\n',
 '10.08.2024: 4 5 5 4 4\n',
 '22.08.2024: 6 3 3 3 3\n',
 '28.08.2024: 5 5 5 5 5\n',
 '5.10.2024: 5 5 4 4 4\n',
 '8.12.2024: 6 5 5 4 3\n',
 '9.03.2025: 6 6 5 5 4\n',
 '21.03.2025: 6 5 4 4 4\n',
 '25.03.2025: 6 6 5 4 5\n',
 '27.04.2025: 4 4 4 4 4']

In [4]:
content_list[1]

'20.04.2023: 5 4 4 4 3\n'

In [5]:
clean = content_list[1].split(':')
clean

['20.04.2023', ' 5 4 4 4 3\n']

In [6]:
clean[1][1:].replace("\n", "")

'5 4 4 4 3'

In [7]:
cleaned_list = []
for item in content_list:
  clean = item.split(':')
  clean[1] = clean[1][1:].replace("\n", "")
  cleaned_list.append(clean)

In [8]:
cleaned_list

[['17.04.2023', '4 4 4 4 3'],
 ['20.04.2023', '5 4 4 4 3'],
 ['24.04.2023', '2 3 3 4 3'],
 ['26.04.2023', '4 4 5 4 4'],
 ['1.05.2023', '5 4 3 4 4'],
 ['4.05.2023', '6 6 6 5 5'],
 ['10.05.2023', '6 5 5 4 5'],
 ['16.05.2023', '6 6 6 5 3'],
 ['25.05.2023', '7 6 5 4 4'],
 ['31.05.2023', '7 4 4 4 4'],
 ['1.07.2023', '6 5 5 4 3'],
 ['5.07.2023', '6 5 5 5 4'],
 ['9.07.2023', '6 5 5 4 4'],
 ['12.07.2023', '6 5 4 4 3'],
 ['15.07.2023', '3 4 4 2 2'],
 ['18.07.2023', '6 5 4 4 4'],
 ['21.07.2023', '6 6 5 4 3'],
 ['26.07.2023', '7 6 5 4 0'],
 ['29.07.2023', '6 6 5 4 3'],
 ['2.08.2023', '7 6 5 4 4'],
 ['7.08.2023', '6 6 5 4 0'],
 ['11.08.2023', '7 6 5 4 4'],
 ['15.08.2023', '7 5 5 4 4'],
 ['19.08.2023', '8 6 6 4 4'],
 ['23.08.2023', '8 6 5 5 4'],
 ['27.08.2023', '7 6 5 4 4'],
 ['6.09.2023', '7 5 4 4 4'],
 ['10.09.2023', '10 6 5 5 0'],
 ['14.09.2023', '9 6 5 0 0'],
 ['17.09.2023', '7 6 5 5 5'],
 ['27.09.2023', '9 7 5 0 0'],
 ['10.10.2023', '8 6 5 5 4'],
 ['15.10.2023', '7 7 5 4 4'],
 ['23.10.2023', '8 7 5 5 4'],
 ['30.10.2023', '10 7 6 5 0'],
 ['6.11.2023', '9 7 5 5 0'],
 ['15.11.2023', '10 8 6 5 4'],
 ['28.11.2023', '8 8 7 5 4'],
 ['4.12.2023', '10 7 6 6 5'],
 ['19.12.2023', '9 6 6 5 5'],
 ['28.12.2023', '11 9 6 5 6'],
 ['8.01.2024', '10 7 6 5 5'],
 ['15.01.2024', '11 7 5 5 4'],
 ['21.01.2024', '10 9 6 6 5'],
 ['26.01.2024', '11 8 6 6 4'],
 ['29.01.2024', '11 9 6 5 4'],
 ['5.02.2024', '10 7 6 5 5'],
 ['20.02.2024', '12 10 7 6 5'],
 ['24.02.2024', '10 8 7 6 5'],
 ['17.03.2024', '10 6 5 5 4'],
 ['26.03.2024', '10 7 6 6 3'],
 ['2.04.2024', '10 6 5 3 3'],
 ['8.04.2024', '10 8 8 4 4'],
 ['10.04.2024', '8 7 7 5 4'],
 ['17.04.2024', '10 8 6 5 4'],
 ['10.08.2024', '4 5 5 4 4'],
 ['22.08.2024', '6 3 3 3 3'],
 ['28.08.2024', '5 5 5 5 5'],
 ['5.10.2024', '5 5 4 4 4'],
 ['8.12.2024', '6 5 5 4 3'],
 ['9.03.2025', '6 6 5 5 4'],
 ['21.03.2025', '6 5 4 4 4'],
 ['25.03.2025', '6 6 5 4 5'],
 ['27.04.2025', '4 4 4 4 4']]

In [9]:
df = pd.DataFrame(cleaned_list, columns=['Date', 'Sets'])

In [10]:
df

          Date       Sets
0   17.04.2023  4 4 4 4 3
1   20.04.2023  5 4 4 4 3
2   24.04.2023  2 3 3 4 3
3   26.04.2023  4 4 5 4 4
4    1.05.2023  5 4 3 4 4
..         ...        ...
59   8.12.2024  6 5 5 4 3
60   9.03.2025  6 6 5 5 4
61  21.03.2025  6 5 4 4 4
62  25.03.2025  6 6 5 4 5
63  27.04.2025  4 4 4 4 4

[64 rows x 2 columns]

In [11]:
sets = []
for i in df['Sets']:
  sets.append(i)

In [12]:
sets

['4 4 4 4 3',
 '5 4 4 4 3',
 '2 3 3 4 3',
 '4 4 5 4 4',
 '5 4 3 4 4',
 '6 6 6 5 5',
 '6 5 5 4 5',
 '6 6 6 5 3',
 '7 6 5 4 4',
 '7 4 4 4 4',
 '6 5 5 4 3',
 '6 5 5 5 4',
 '6 5 5 4 4',
 '6 5 4 4 3',
 '3 4 4 2 2',
 '6 5 4 4 4',
 '6 6 5 4 3',
 '7 6 5 4 0',
 '6 6 5 4 3',
 '7 6 5 4 4',
 '6 6 5 4 0',
 '7 6 5 4 4',
 '7 5 5 4 4',
 '8 6 6 4 4',
 '8 6 5 5 4',
 '7 6 5 4 4',
 '7 5 4 4 4',
 '10 6 5 5 0',
 '9 6 5 0 0',
 '7 6 5 5 5',
 '9 7 5 0 0',
 '8 6 5 5 4',
 '7 7 5 4 4',
 '8 7 5 5 4',
 '10 7 6 5 0',
 '9 7 5 5 0',
 '10 8 6 5 4',
 '8 8 7 5 4',
 '10 7 6 6 5',
 '9 6 6 5 5',
 '11 9 6 5 6',
 '10 7 6 5 5',
 '11 7 5 5 4',
 '10 9 6 6 5',
 '11 8 6 6 4',
 '11 9 6 5 4',
 '10 7 6 5 5',
 '12 10 7 6 5',
 '10 8 7 6 5',
 '10 6 5 5 4',
 '10 7 6 6 3',
 '10 6 5 3 3',
 '10 8 8 4 4',
 '8 7 7 5 4',
 '10 8 6 5 4',
 '4 5 5 4 4',
 '6 3 3 3 3',
 '5 5 5 5 5',
 '5 5 4 4 4',
 '6 5 5 4 3',
 '6 6 5 5 4',
 '6 5 4 4 4',
 '6 6 5 4 5',
 '4 4 4 4 4']

In [13]:
set_list = []
for i in sets:
  item = i.split()
  set_list.append(item)

In [14]:
set_list

[['4', '4', '4', '4', '3'],
 ['5', '4', '4', '4', '3'],
 ['2', '3', '3', '4', '3'],
 ['4', '4', '5', '4', '4'],
 ['5', '4', '3', '4', '4'],
 ['6', '6', '6', '5', '5'],
 ['6', '5', '5', '4', '5'],
 ['6', '6', '6', '5', '3'],
 ['7', '6', '5', '4', '4'],
 ['7', '4', '4', '4', '4'],
 ['6', '5', '5', '4', '3'],
 ['6', '5', '5', '5', '4'],
 ['6', '5', '5', '4', '4'],
 ['6', '5', '4', '4', '3'],
 ['3', '4', '4', '2', '2'],
 ['6', '5', '4', '4', '4'],
 ['6', '6', '5', '4', '3'],
 ['7', '6', '5', '4', '0'],
 ['6', '6', '5', '4', '3'],
 ['7', '6', '5', '4', '4'],
 ['6', '6', '5', '4', '0'],
 ['7', '6', '5', '4', '4'],
 ['7', '5', '5', '4', '4'],
 ['8', '6', '6', '4', '4'],
 ['8', '6', '5', '5', '4'],
 ['7', '6', '5', '4', '4'],
 ['7', '5', '4', '4', '4'],
 ['10', '6', '5', '5', '0'],
 ['9', '6', '5', '0', '0'],
 ['7', '6', '5', '5', '5'],
 ['9', '7', '5', '0', '0'],
 ['8', '6', '5', '5', '4'],
 ['7', '7', '5', '4', '4'],
 ['8', '7', '5', '5', '4'],
 ['10', '7', '6', '5', '0'],
 ['9', '7', '5', '5', '0'],
 ['10', '8', '6', '5', '4'],
 ['8', '8', '7', '5', '4'],
 ['10', '7', '6', '6', '5'],
 ['9', '6', '6', '5', '5'],
 ['11', '9', '6', '5', '6'],
 ['10', '7', '6', '5', '5'],
 ['11', '7', '5', '5', '4'],
 ['10', '9', '6', '6', '5'],
 ['11', '8', '6', '6', '4'],
 ['11', '9', '6', '5', '4'],
 ['10', '7', '6', '5', '5'],
 ['12', '10', '7', '6', '5'],
 ['10', '8', '7', '6', '5'],
 ['10', '6', '5', '5', '4'],
 ['10', '7', '6', '6', '3'],
 ['10', '6', '5', '3', '3'],
 ['10', '8', '8', '4', '4'],
 ['8', '7', '7', '5', '4'],
 ['10', '8', '6', '5', '4'],
 ['4', '5', '5', '4', '4'],
 ['6', '3', '3', '3', '3'],
 ['5', '5', '5', '5', '5'],
 ['5', '5', '4', '4', '4'],
 ['6', '5', '5', '4', '3'],
 ['6', '6', '5', '5', '4'],
 ['6', '5', '4', '4', '4'],
 ['6', '6', '5', '4', '5'],
 ['4', '4', '4', '4', '4']]

In [15]:
df_sets = pd.DataFrame(set_list, columns = ['Set1' , 'Set2', 'Set3' , 'Set4', 'Set5'])
df_sets

   Set1 Set2 Set3 Set4 Set5
0     4    4    4    4    3
1     5    4    4    4    3
2     2    3    3    4    3
3     4    4    5    4    4
4     5    4    3    4    4
..  ...  ...  ...  ...  ...
59    6    5    5    4    3
60    6    6    5    5    4
61    6    5    4    4    4
62    6    6    5    4    5
63    4    4    4    4    4

[64 rows x 5 columns]

In [16]:
df_sets['Set1'] = df_sets['Set1'].astype(int)
df_sets['Set2'] = df_sets['Set2'].astype(int)
df_sets['Set3'] = df_sets['Set3'].astype(int)
df_sets['Set4'] = df_sets['Set4'].astype(int)
df_sets['Set5'] = df_sets['Set5'].astype(int)

In [17]:
result = pd.concat([df, df_sets], axis=1, join="outer")
result.drop('Sets',axis='columns', inplace=True)
result

          Date  Set1  Set2  Set3  Set4  Set5
0   17.04.2023     4     4     4     4     3
1   20.04.2023     5     4     4     4     3
2   24.04.2023     2     3     3     4     3
3   26.04.2023     4     4     5     4     4
4    1.05.2023     5     4     3     4     4
..         ...   ...   ...   ...   ...   ...
59   8.12.2024     6     5     5     4     3
60   9.03.2025     6     6     5     5     4
61  21.03.2025     6     5     4     4     4
62  25.03.2025     6     6     5     4     5
63  27.04.2025     4     4     4     4     4

[64 rows x 6 columns]

In [18]:
date_list = []
for i in cleaned_list:
  date = i[0]
  new_date = date.replace('.','/')
  date_list.append(new_date)

In [19]:
date_list

['17/04/2023',
 '20/04/2023',
 '24/04/2023',
 '26/04/2023',
 '1/05/2023',
 '4/05/2023',
 '10/05/2023',
 '16/05/2023',
 '25/05/2023',
 '31/05/2023',
 '1/07/2023',
 '5/07/2023',
 '9/07/2023',
 '12/07/2023',
 '15/07/2023',
 '18/07/2023',
 '21/07/2023',
 '26/07/2023',
 '29/07/2023',
 '2/08/2023',
 '7/08/2023',
 '11/08/2023',
 '15/08/2023',
 '19/08/2023',
 '23/08/2023',
 '27/08/2023',
 '6/09/2023',
 '10/09/2023',
 '14/09/2023',
 '17/09/2023',
 '27/09/2023',
 '10/10/2023',
 '15/10/2023',
 '23/10/2023',
 '30/10/2023',
 '6/11/2023',
 '15/11/2023',
 '28/11/2023',
 '4/12/2023',
 '19/12/2023',
 '28/12/2023',
 '8/01/2024',
 '15/01/2024',
 '21/01/2024',
 '26/01/2024',
 '29/01/2024',
 '5/02/2024',
 '20/02/2024',
 '24/02/2024',
 '17/03/2024',
 '26/03/2024',
 '2/04/2024',
 '8/04/2024',
 '10/04/2024',
 '17/04/2024',
 '10/08/2024',
 '22/08/2024',
 '28/08/2024',
 '5/10/2024',
 '8/12/2024',
 '9/03/2025',
 '21/03/2025',
 '25/03/2025',
 '27/04/2025']

In [20]:
date_df = pd.DataFrame(date_list, columns = ['New_Dates'])
final_df = pd.concat([date_df, result], axis=1, join="outer")
final_df.drop('Date',axis='columns', inplace=True)

In [21]:
final_df

     New_Dates  Set1  Set2  Set3  Set4  Set5
0   17/04/2023     4     4     4     4     3
1   20/04/2023     5     4     4     4     3
2   24/04/2023     2     3     3     4     3
3   26/04/2023     4     4     5     4     4
4    1/05/2023     5     4     3     4     4
..         ...   ...   ...   ...   ...   ...
59   8/12/2024     6     5     5     4     3
60   9/03/2025     6     6     5     5     4
61  21/03/2025     6     5     4     4     4
62  25/03/2025     6     6     5     4     5
63  27/04/2025     4     4     4     4     4

[64 rows x 6 columns]

# Final Dataframe

In [22]:
final_df

     New_Dates  Set1  Set2  Set3  Set4  Set5
0   17/04/2023     4     4     4     4     3
1   20/04/2023     5     4     4     4     3
2   24/04/2023     2     3     3     4     3
3   26/04/2023     4     4     5     4     4
4    1/05/2023     5     4     3     4     4
..         ...   ...   ...   ...   ...   ...
59   8/12/2024     6     5     5     4     3
60   9/03/2025     6     6     5     5     4
61  21/03/2025     6     5     4     4     4
62  25/03/2025     6     6     5     4     5
63  27/04/2025     4     4     4     4     4

[64 rows x 6 columns]

In [23]:
final_df['New_Dates'] = pd.to_datetime(final_df['New_Dates'],format='%d/%m/%Y')
final_df

    New_Dates  Set1  Set2  Set3  Set4  Set5
0  2023-04-17     4     4     4     4     3
1  2023-04-20     5     4     4     4     3
2  2023-04-24     2     3     3     4     3
3  2023-04-26     4     4     5     4     4
4  2023-05-01     5     4     3     4     4
..        ...   ...   ...   ...   ...   ...
59 2024-12-08     6     5     5     4     3
60 2025-03-09     6     6     5     5     4
61 2025-03-21     6     5     4     4     4
62 2025-03-25     6     6     5     4     5
63 2025-04-27     4     4     4     4     4

[64 rows x 6 columns]

In [24]:
final_df['Set1'] = final_df['Set1'].astype(int)
final_df['Set2'] = final_df['Set2'].astype(int)
final_df['Set3'] = final_df['Set3'].astype(int)
final_df['Set4'] = final_df['Set4'].astype(int)
final_df['Set5'] = final_df['Set5'].astype(int)

# Plots

In [26]:
fig = px.line(final_df, x='New_Dates', y='Set1', title='Pullups Trend')
fig.show()